pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

.DS_Store

*.iml
/.idea/
/yauhau/test/clojure/generated/
/yauhau/experiment/clojure/generated/
/test/
/ir-graphs/
/.stack-work/
dist/
.cabal-sandbox/

yauhau-transform.cabal
/jvm/project.clj
/jvm/target/